body {
  background-image: url("./image.jpeg");
  background-size: contain;
  text-align: center;
  height: 100%;
}
.section {
  width: 100%;
}
h1 {
  /* border: 2px solid brown; */
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 5px 3px;
  text-decoration: underline;
}
ul {
  list-style-type: square;
  color: white;
  padding: 0 0 0 20px;
}
ul li::marker {
  color: #e60765;
}
table {
  width: 100%;
  border-spacing: 0.02px;
}
table,
caption,
th,
td {
  border: 2px solid gray;
}
td {
  text-align: left;
}
